body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

header, main, footer {
    margin-left: 70px;
    padding-left: 15px;
}

header {
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-formation {
    background-image: url(https://i.postimg.cc/FKQLmw0D/mathematics-1622448.jpg);
}

#header-home {
    background-image: url(https://i.postimg.cc/DzccL3yB/paris-843229-1920.jpg);
}

#header-experiences {
    background-image: url(https://i.postimg.cc/L6r6VMsv/startup-593341-1920.jpg);
}

#header-loisirs {
    background-image: url(https://i.postimg.cc/qBCQg8WY/camera-1130731-1920.jpg);
}

#header-competences {
    background-image: url(https://i.postimg.cc/Rh6wDdWy/electronics.jpg);
}

.navbar {
    width: 70px;
    height: 100%;
    background-color: rgb(78, 78, 138);
    position: fixed;
    transition: width 150ms;
}

.navbar-list {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-item {
    width: 100%;
    transition: background-color 350ms;
}

.navbar-item:hover {
    background-color: rgb(55, 55, 100);
}

.navbar-link {
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link-text {
    display: none;
}

.material-icons {
    height: 30px;
    width: 30px;
    margin: 0 15px 0 25px;
}

.navbar:hover {
    width: 250px;
}

.navbar:hover .link-text {
    display: block;
    margin: 0;
    padding: 0;
}

.header-hr {
    width: 500px;
    height: 7px;
    background-color: rgb(78, 78, 138);
    border: 1px white solid;
    margin-top: 70px;
    margin-bottom: 70px;
}

header > span > h1 {
    color: white;
    font-size: 70px;
    text-align: center;
    font-weight: bolder;
    -webkit-text-stroke: 1px rgba(129, 54, 54, 0.836);
}

.section-hr {
    width: 400px;
    height: 3px;
    background-color: black;
    border-radius: 2px;
    margin: 0;
    border: none;
}

section {
    margin-top: 15px;
    margin-bottom: 50px;
}

section > h3 {
    margin-top: 0;
    margin-bottom: 30px;
    color: rgb(78, 78, 138);
}

form {
    width: 310px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.input-text {
    width: 300px;
    height: 30px;
    margin-bottom: 30px;
    font-family: 'Montserrat';
    border-radius: 5px;
    outline: none;
    border: 1px lightgray solid;
    background-color: #eeeeee;
    transition: background-color 300ms, border 300ms;
}

.input-text:focus {
    background-color: white;
    border: 1px rgb(78, 78, 138) solid;
}

.input-textarea {
    resize: none;
    width: 301px;
    height: 150px;
    margin-bottom: 10px;
    font-family: 'Montserrat';
    border-radius: 5px;
    outline: none;
    border: 1px lightgray solid;
    background-color: #eeeeee;
    transition: background-color 300ms, border 300ms;
}

.input-textarea:focus {
    background-color: white;
    border: 1px rgb(78, 78, 138) solid;
}

@keyframes button-animation {
    from {
        background-color: rgb(78, 78, 138);
    }

    to {
        background-color: rgb(55, 55, 100);
        transform: scale(1.1);
    }
}

button {
    width: 200px;
    height: 30px;
    border: 1px rgb(78, 78, 138) solid;
    border-radius: 5px;
    background-color: rgb(78, 78, 138);
    font-family: 'Montserrat';
    font-weight: bold;
    color: white;
    cursor: pointer;
}

button:hover {
    animation: button-animation 1s infinite alternate;
}

#presentation-container {
    display: flex;
}

img {
    border: 1px solid;
    width: 200px;
    height: 350px;
}

#presentation-p {
    margin-top: 0;
    margin-left: 15px;
    width: 65%;
}

.date-formation, .lieu-experiences {
    margin-bottom: 5px;
    color: rgb(78, 78, 138);
}

.lieu-formation, .date-experiences {
    margin-top: 0;
    margin-bottom: 10;
    font-style: italic;
    color: rgba(0, 0, 0, 0.39);
}

.diplome-formation {
    margin-top: 30px;
    font-weight: bolder;
}

.ecole-formation {
    font-size: small;
    font-weight: normal;
}

.mission-experiences {
    width: 70%;
}

#voyages-list {
    list-style-type: disclosure-closed;
    padding-left: 15px;
}

#voyages-list > li:not(:last-child) {
    margin-bottom: 5px;
}

#video-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video-title {
    color: rgb(78, 78, 138);
    font-size: 30px;
}

#video-legende {
    font-weight: normal;
    font-style: italic;
}

.hard_skills {
    display: flex;
}

.hard_skills-title {
    margin-top: 15px;
    margin-bottom: 5px;
    font-style: italic;
    color: rgba(116, 116, 116, 0.596);
}

.hard_skills ul {
    margin-top: 0;
    margin-right: 100px;
    padding-left: 20px;
    list-style: disclosure-closed;
    font-size: 13px;
}

.hard_skills ul > li:not(:last-child) {
    margin-bottom: 7px;
}

#soft_skills-list {
    margin-top: 0;
    padding-left: 20px;
    list-style: disclosure-closed;
    font-size: 14px;
}

#soft_skills-list > li:not(:last-child) {
    margin-bottom: 10px;
}

.competences-title {
    margin-bottom: 15px;
}

footer h3 {
    color: rgb(78, 78, 138);
}

.footer-hr {
    margin-top: 100px;
    width: 100%;
    height: 5px;
    background-color: rgb(78, 78, 138);
    border-width: 0;
    border-radius: 5px 0 0 5px;
}

footer ul {
    padding-left: 10px;
    list-style: none;
}

footer ul > li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

#footer-list > li > span {
    margin-left: 0;
    margin-right: 10px;
    color: rgb(90, 90, 90);
}